@(p: Post)
<div class="column">
  <div class="post-thumb-image">
    <a href="@routes.Posts.viewPost(p.id)"><img src="@p.getImageUrl()" class="thumbnail" alt=""></a>
  </div>
  <div class="post-thumb-info">
    <p>"@p.title"</p>
    <b>by <a href="@routes.Profile.index(p.author.username)">@p.author.username</a></b>
    <p></p>
    <p>
    @if(!p.tags.isEmpty()) {
    @for(t <- p.tags.split(",")) {
    #<a class="tags" href="@routes.Browse.getSearchResultPage(0, t)">@t &nbsp;</a>
    }
    }
    </p>
  </div>
</div>