#logo {
	width: 120px;
}

#motto {
	width: 80%;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Raleway', sans-serif;
}

.tags {
	font-family: 'Courier';
}

.top-space {
	margin-top: 2rem;
}

.top-bar, .top-bar ul{
	background-color: #F6F1EE;
}

form {
   display:inline;
   margin:0;
   padding:0;
}

.welcome-section {
	/*background-color: #E3F8F0;*/
	background-color: #C0CAE1;
	padding: 1rem 0rem;
	width: 100%;
	max-width: initial;
}

.collection {
	margin: 2rem 0 1rem 0;
	padding: 0.75rem;
	border: 1px solid #000000;
	border-radius: 5px;
	background-color: #FFFCF4;
	position: relative;
	max-width: 75%;

}

.edit-btn {
	font-size: 1.8rem;
	padding: 0.2rem 0.4rem 0.2rem 0.4rem;
}

.del-btn {
	font-size: 1rem;
	padding: 0.2rem 0.3rem 0.2rem 0.3rem;
}

.error-text {
	color: #c9150c;
	font-weight: bold;
	font-style: regular;
}

.profile > .name, .profile > .username, .profile > .button {
	text-align: center;
	vertical-align: middle;

}

.profile-image {
	height: 100px;
	width: 100px;
}

.post-user-pic {
	height: 75px;
	width: 75px;
}

.post-image {
	margin-top: 1.5rem;
}

.profile > p {
	font-size: 0.8rem;
}

.comment-box {
	border-style: solid;
	border-width: 0.5px;
	border-color: black;
	padding: 1rem 0.3rem 0rem 0.3rem;
	margin: 1.5rem;
}

.comment-body > p {
	font-size: 0.8rem;
}

.comment-footer > p {
	font-size: 0.8rem;
	color: grey;
}

.label.level {
    background: #e5e5e5;
    color: #0a0a0a;
    margin-top: 0.5rem;
}

.textarea-desc {
	width: 100%;
}

.post-desc {
	margin-top: 2rem;
	margin-bottom: 3rem;
	font-size: 0.9rem;
}

.post-thumb-image {
	margin: 0.5rem 0.25rem 0 0.25rem;
	background-color: #e6e6e6;
}

.post-thumb-info {
	background-color: #e6e6e6;
	font-style: bold;
	margin: 0 0.25rem 2rem 0.25rem;
	padding: 0 0.75rem 0.25rem 0.75rem;
	font-style: bold;
}

.post-thumb-info > a, .post-thumb-info > p, .post-thumb-info > b {
	font-size: 0.9rem;
}

div.center-cropped {
  width: 100%;
  height: 33.3333vw;
  overflow: hidden;
}
div.center-cropped img {
  height: 100%;
  min-width: 100%;
  left: 50%;
  position: relative;
  transform: translateX(-50%);
}

/*padding: top right bottom left*/

.footer > .row {
	width: 100%;
	max-width: initial;
}

.footer {
	margin-top: 4rem;
	background-color: #AAACB0;
	padding: 2rem 4rem;
	text-align: center;
	color: #FFFFFF;
}

