<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Browse Sketches</title>
    <link rel="stylesheet" href="css/foundation.css">
    <link rel="stylesheet" href="css/app.css">
  </head>
  <body>

    <div class="top-bar">
      <div class="top-bar-left">
        <ul class="dropdown menu" data-dropdown-menu>
          <li class="menu-text"><a href="home.html">Scrapbook</a></li>
          <li class="active"><a href="#">Browse</a></li>
          <li><a href="#">Discover</a></li>
          <li><a href="community.html">Community</a></li>
        </div>
        <div class="top-bar-right">
          <ul class="menu">
            <li><a href="#">Join</a></li>
            <li><button type="button" class="button">Login</button>
          </ul>
        </div>
    </div>

    <div class="row top-space">
      <div class="large-8 columns">
        <h4>Browse posts by category</h4>
        <ul class="menu">
          <li class="active"><a href="#">Sketches</a></li>
          <li><a href="#">Photography</a></li>
          <li><a href="#">Paintings</a></li>
          <li><a href="#">Illustrations</a></li>
          <li><a href="#">Collage</a></li>
          <li><a href="#">Crafts</a></li>
        </ul>
      </div>
      <div class="large-4 columns">
      <ul class="menu">
        <li><input type="search" placeholder="search posts"></li>
        <li><button type="button" class="button">Search</button>
      </ul>
      </div>
    </div>
    
    <div class="row">
      <div class="large-11 large centered columns">
        <div class="row top-space">
        </div>
        <div class="row small-up-2 medium-up-3 large-up-4 top-space">
          <div class="column">
            <img src="http://placehold.it/300x300" class="thumbnail" alt="">
          </div>
          <div class="column">
            <img src="http://placehold.it/300x300" class="thumbnail" alt="">
          </div> 
          <div class="column">
            <img src="http://placehold.it/300x300" class="thumbnail" alt="">
          </div>
          <div class="column">
            <img src="http://placehold.it/300x300" class="thumbnail" alt="">
          </div>
          <div class="column">
            <img src="http://placehold.it/300x300" class="thumbnail" alt="">
          </div> 
          <div class="column">
            <img src="http://placehold.it/300x300" class="thumbnail" alt="">
          </div>
          <div class="column">
            <img src="http://placehold.it/300x300" class="thumbnail" alt="">
          </div>
          <div class="column">
            <img src="http://placehold.it/300x300" class="thumbnail" alt="">
          </div> 
          <div class="column">
            <img src="http://placehold.it/300x300" class="thumbnail" alt="">
          </div>    
          <div class="column">
            <img src="http://placehold.it/300x300" class="thumbnail" alt="">
          </div>
          <div class="column">
            <img src="http://placehold.it/300x300" class="thumbnail" alt="">
          </div>
          <div class="column">
            <img src="http://placehold.it/300x300" class="thumbnail" alt="">
          </div> 
          <div class="column">
            <img src="http://placehold.it/300x300" class="thumbnail" alt="">
          </div>
          <div class="column">
            <img src="http://placehold.it/300x300" class="thumbnail" alt="">
          </div>
          <div class="column">
            <img src="http://placehold.it/300x300" class="thumbnail" alt="">
          </div> 
          <div class="column">
            <img src="http://placehold.it/300x300" class="thumbnail" alt="">
          </div>          
        </div>
      </div>
    </div>

    <footer class="footer">
      <div class="row">
        <p>&copy Scrapbook 2016</p>
      </div>
    </footer>

    <script src="js/vendor/jquery.js"></script>
    <script src="js/vendor/what-input.js"></script>
    <script src="js/vendor/foundation.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>
