@(category: String)
@templates.main("Scrapbook - Browse", "searchOff") {
    <div class="row top-space">
      <div class="large-8 columns">
        <h4>Browse posts by category</h4>
        <ul class="menu">
          <li class="active"><a href="#">Sketches</a></li>
          <li><a href="#">Photography</a></li>
          <li><a href="#">Paintings</a></li>
          <li><a href="#">Illustrations</a></li>
          <li><a href="#">Collage</a></li>
          <li><a href="#">Crafts</a></li>
        </ul>
      </div>
      <div class="large-4 columns">
      <ul class="menu">
        <li><input type="search" placeholder="search posts"></li>
        <li><button type="button" class="button">Search</button>
      </ul>
      </div>
    </div>
    
    <!-- Post Thumbnails -->
    <div class="row">
      <div class="large-11 large centered columns">
        <div class="row top-space">
        </div>
        <div class="row small-up-2 medium-up-3 large-up-4 top-space">

          <!--Dynamic Thumbnail-->
          @for(p <- Post.findAll){
          <div class="column">
            <div class="post-thumb-image">
              <a href="@routes.Posts.viewPost(p.id)"><img src="@{routes.Assets.versioned(p.imageFile)}" class="thumbnail" alt=""></a>
            </div>
            <div class="post-thumb-info">
              <p>@p.title</p>
              <p>by <a href="@routes.Profile.index(p.author.username)">@p.author.username</a></p>
              <p>
              @if(!p.tags.isEmpty()) {
              @for(t <- p.tags.split(",")) {
              #<a href="@routes.Posts.viewPost(p.id)">@t &nbsp;
              }
              }
              </p>
            </div>
          </div>
          }
        
        </div>
      </div>
    </div>
}