@templates.main("Scrapbook - Browse") {
    <div class="row top-space">
      <div class="large-8 columns">
        <h4>Browse posts by category</h4>
        <ul class="menu">
          <li class="active"><a href="#">Sketches</a></li>
          <li><a href="#">Photography</a></li>
          <li><a href="#">Paintings</a></li>
          <li><a href="#">Illustrations</a></li>
          <li><a href="#">Collage</a></li>
          <li><a href="#">Crafts</a></li>
        </ul>
      </div>
      <div class="large-4 columns">
      <ul class="menu">
        <li><input type="search" placeholder="search posts"></li>
        <li><button type="button" class="button">Search</button>
      </ul>
      </div>
    </div>
    
    <div class="row">
      <div class="large-11 large centered columns">
        <div class="row top-space">
        </div>
        <div class="row small-up-2 medium-up-3 large-up-4 top-space">
          <div class="column">
            <img src="http://placehold.it/300x300" class="thumbnail" alt="">
          </div>
          <div class="column">
            <img src="http://placehold.it/300x300" class="thumbnail" alt="">
          </div> 
          <div class="column">
            <img src="http://placehold.it/300x300" class="thumbnail" alt="">
          </div>
          <div class="column">
            <img src="http://placehold.it/300x300" class="thumbnail" alt="">
          </div>
          <div class="column">
            <img src="http://placehold.it/300x300" class="thumbnail" alt="">
          </div> 
          <div class="column">
            <img src="http://placehold.it/300x300" class="thumbnail" alt="">
          </div>
          <div class="column">
            <img src="http://placehold.it/300x300" class="thumbnail" alt="">
          </div>
          <div class="column">
            <img src="http://placehold.it/300x300" class="thumbnail" alt="">
          </div> 
          <div class="column">
            <img src="http://placehold.it/300x300" class="thumbnail" alt="">
          </div>    
          <div class="column">
            <img src="http://placehold.it/300x300" class="thumbnail" alt="">
          </div>
          <div class="column">
            <img src="http://placehold.it/300x300" class="thumbnail" alt="">
          </div>
          <div class="column">
            <img src="http://placehold.it/300x300" class="thumbnail" alt="">
          </div> 
          <div class="column">
            <img src="http://placehold.it/300x300" class="thumbnail" alt="">
          </div>
          <div class="column">
            <img src="http://placehold.it/300x300" class="thumbnail" alt="">
          </div>
          <div class="column">
            <img src="http://placehold.it/300x300" class="thumbnail" alt="">
          </div> 
          <div class="column">
            <img src="http://placehold.it/300x300" class="thumbnail" alt="">
          </div>          
        </div>
      </div>
    </div>
}