<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Community</title>
    <link rel="stylesheet" href="css/foundation.css">
    <link rel="stylesheet" href="css/app.css">
  </head>
  <body>

    <div class="top-bar">
      <div class="top-bar-left">
        <ul class="dropdown menu" data-dropdown-menu>
          <li class="menu-text"><a href="home.html">Scrapbook</a></li>
          <li>
            <a href="browse.html">Browse</a>
            <ul class="menu vertical">
              <li><a href="browse.html">Sketches</a></li>
              <li><a href="#">Photography</a></li>
              <li><a href="#">Paintings</a></li>
              <li><a href="#">Illustrations</a></li>
              <li><a href="#">Collage</a></li>
              <li><a href="#">Crafts</a></li>
            </ul>
          </li>
          <li><a href="#">Discover</a></li>
          <li><a href="community.html">Community</a></li>
        </div>
        <div class="top-bar-right">
          <ul class="menu">
            <li><a href="#">Join</a></li>
            <li><button type="button" class="button">Login</button>
          </ul>
        </div>
    </div>
    <div class="row top-space">
      <div class="large-8 large-centered columns">
         <h3>Scrapbook's Community</h3>
         <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, asperiores, voluptas, veniam commodi impedit tenetur dolores cumque facere explicabo esse quaerat veritatis laboriosam eius modi amet maxime non officia nemo!</p>
      </div>
    </div>

    <div class="row top-space">
      <div class="large-10 large-centered columns">
        <h4>New Members Hall</h4>
        <div class="row small-up-2 medium-up-4 large-up-5 text-center top-space">
          <div class="column">
            <img src="http://placehold.it/100x100" class="thumbnail" alt="">
            <h6><a href="#">Name</a><h6>
          </div>
          <div class="column">
            <img src="http://placehold.it/100x100" class="thumbnail" alt="">
            <h6><a href="#">Name</a><h6>
          </div> 
          <div class="column">
            <img src="http://placehold.it/100x100" class="thumbnail" alt="">
            <h6><a href="#">Name</a><h6>
          </div>      
          <div class="column">
            <img src="http://placehold.it/100x100" class="thumbnail" alt="">
            <h6><a href="#">Name</a><h6>
          </div> 
          <div class="column">
            <img src="http://placehold.it/100x100" class="thumbnail" alt="">
            <h6><a href="#">Name</a><h6>
          </div>     
        </div>
      </div>
    </div>

    <div class="row top-space">
      <div class="large-10 large-centered columns">
        <h4>Discover inspiring novice and skilled artists</h4>
        <div class="row top-space">
          <div class="large-2 columns">
            <img src="http://placehold.it/100x100" class="thumbnail" alt="">
          </div>
          <div class="large-2 columns">
            <h6><a href="#">Name</a><h6>
          </div>
          <div class="large-2 columns">
            <img src="http://placehold.it/100x100" class="thumbnail" alt="">
          </div> 
          <div class="large-2 columns">
            <img src="http://placehold.it/100x100" class="thumbnail" alt="">
          </div>      
          <div class="large-2 columns">
            <img src="http://placehold.it/100x100" class="thumbnail" alt="">
          </div> 
          <div class="large-2 columns">
            <img src="http://placehold.it/100x100" class="thumbnail" alt="">
          </div>     
        </div>
        <div class="row top-space">
          <div class="large-2 columns">
            <img src="http://placehold.it/100x100" class="thumbnail" alt="">
          </div>
          <div class="large-2 columns">
            <h6><a href="#">Name</a><h6>
          </div>
          <div class="large-2 columns">
            <img src="http://placehold.it/100x100" class="thumbnail" alt="">
          </div> 
          <div class="large-2 columns">
            <img src="http://placehold.it/100x100" class="thumbnail" alt="">
          </div>      
          <div class="large-2 columns">
            <img src="http://placehold.it/100x100" class="thumbnail" alt="">
          </div> 
          <div class="large-2 columns">
            <img src="http://placehold.it/100x100" class="thumbnail" alt="">
          </div>     
        </div>
        <div class="row top-space">
          <div class="large-2 columns">
            <img src="http://placehold.it/100x100" class="thumbnail" alt="">
          </div>
          <div class="large-2 columns">
            <h6><a href="#">Name</a><h6>
          </div>
          <div class="large-2 columns">
            <img src="http://placehold.it/100x100" class="thumbnail" alt="">
          </div> 
          <div class="large-2 columns">
            <img src="http://placehold.it/100x100" class="thumbnail" alt="">
          </div>      
          <div class="large-2 columns">
            <img src="http://placehold.it/100x100" class="thumbnail" alt="">
          </div> 
          <div class="large-2 columns">
            <img src="http://placehold.it/100x100" class="thumbnail" alt="">
          </div>     
        </div>
      </div>
    </div>

    <footer class="footer">
      <div class="row">
        <p>&copy Scrapbook 2016</p>
      </div>
    </footer>

    <script src="js/vendor/jquery.js"></script>
    <script src="js/vendor/what-input.js"></script>
    <script src="js/vendor/foundation.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>
