@templates.main("Community - Scrapbook") {
    <div class="row top-space">
      <div class="large-8 large-centered columns">
         <h3>Scrapbook's Community</h3>
         <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, asperiores, voluptas, veniam commodi impedit tenetur dolores cumque facere explicabo esse quaerat veritatis laboriosam eius modi amet maxime non officia nemo!</p>
      </div>
    </div>

    <div class="row top-space">
      <div class="large-10 large-centered columns">
        <h4>New Members Hall</h4>
        <div class="row small-up-2 medium-up-4 large-up-5 text-center top-space">
          <div class="column">
            <img src="http://placehold.it/100x100" class="thumbnail" alt="">
            <h6><a href="#">Name</a><h6>
          </div>
          <div class="column">
            <img src="http://placehold.it/100x100" class="thumbnail" alt="">
            <h6><a href="#">Name</a><h6>
          </div> 
          <div class="column">
            <img src="http://placehold.it/100x100" class="thumbnail" alt="">
            <h6><a href="#">Name</a><h6>
          </div>      
          <div class="column">
            <img src="http://placehold.it/100x100" class="thumbnail" alt="">
            <h6><a href="#">Name</a><h6>
          </div> 
          <div class="column">
            <img src="http://placehold.it/100x100" class="thumbnail" alt="">
            <h6><a href="#">Name</a><h6>
          </div>     
        </div>
      </div>
    </div>

    <div class="row top-space">
      <div class="large-10 large-centered columns">
        <h4>Discover inspiring novice and skilled artists</h4>
        <div class="row top-space">
          <div class="large-2 columns">
            <img src="http://placehold.it/100x100" class="thumbnail" alt="">
          </div>
          <div class="large-2 columns">
            <h6><a href="#">Name</a><h6>
          </div>
          <div class="large-2 columns">
            <img src="http://placehold.it/100x100" class="thumbnail" alt="">
          </div> 
          <div class="large-2 columns">
            <img src="http://placehold.it/100x100" class="thumbnail" alt="">
          </div>      
          <div class="large-2 columns">
            <img src="http://placehold.it/100x100" class="thumbnail" alt="">
          </div> 
          <div class="large-2 columns">
            <img src="http://placehold.it/100x100" class="thumbnail" alt="">
          </div>     
        </div>
        <div class="row top-space">
          <div class="large-2 columns">
            <img src="http://placehold.it/100x100" class="thumbnail" alt="">
          </div>
          <div class="large-2 columns">
            <h6><a href="#">Name</a><h6>
          </div>
          <div class="large-2 columns">
            <img src="http://placehold.it/100x100" class="thumbnail" alt="">
          </div> 
          <div class="large-2 columns">
            <img src="http://placehold.it/100x100" class="thumbnail" alt="">
          </div>      
          <div class="large-2 columns">
            <img src="http://placehold.it/100x100" class="thumbnail" alt="">
          </div> 
          <div class="large-2 columns">
            <img src="http://placehold.it/100x100" class="thumbnail" alt="">
          </div>     
        </div>
        <div class="row top-space">
          <div class="large-2 columns">
            <img src="http://placehold.it/100x100" class="thumbnail" alt="">
          </div>
          <div class="large-2 columns">
            <h6><a href="#">Name</a><h6>
          </div>
          <div class="large-2 columns">
            <img src="http://placehold.it/100x100" class="thumbnail" alt="">
          </div> 
          <div class="large-2 columns">
            <img src="http://placehold.it/100x100" class="thumbnail" alt="">
          </div>      
          <div class="large-2 columns">
            <img src="http://placehold.it/100x100" class="thumbnail" alt="">
          </div> 
          <div class="large-2 columns">
            <img src="http://placehold.it/100x100" class="thumbnail" alt="">
          </div>     
        </div>
      </div>
    </div>
}