@templates.main("Scrapbook Home") {
  <div class="top-bar">
    <div class="top-bar-left">
      <ul class="dropdown menu" data-dropdown-menu>
        <li class="menu-text"><a href="home.html">Scrapbook</a></li>
        <li>
          <a href="browse.html">Browse</a>
          <ul class="menu vertical">
            <li><a href="browse.html">Sketches</a></li>
            <li><a href="#">Photography</a></li>
            <li><a href="#">Paintings</a></li>
            <li><a href="#">Illustrations</a></li>
            <li><a href="#">Collage</a></li>
            <li><a href="#">Crafts</a></li>
          </ul>
        </li>
        <li><a href="#">Discover</a></li>
        <li><a href="community.html">Community</a></li>
      </div>
      <div class="top-bar-right">
        <ul class="menu">
          <li><a href="#">Join</a></li>
          <li><button type="button" class="button">Login</button>
        </ul>
      </div>
  </div>
  <div class="row welcome-section">
    <div class="large-8 large-centered columns">
       <h3>Welcome to Scrapbook</h3>
       <p>An online art community that embraces amateur artists and hobbiests around the globe. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, asperiores, voluptas, veniam commodi impedit tenetur dolores cumque facere explicabo esse quaerat veritatis laboriosam eius modi amet maxime non officia nemo!</p>
    </div>
  </div>

  <div class="row top-space">
    <div class="large-10 large-centered columns">
      <h4>Featured Posts</h4>
      <div class="row small-up-2 medium-up-3 large-up-4 text-center top-space">
        <div class="column">
          <img src="http://placehold.it/150x150" class="thumbnail" alt="">
        </div>
        <div class="column">
          <img src="http://placehold.it/150x150" class="thumbnail" alt="">
        </div> 
        <div class="column">
          <img src="http://placehold.it/150x150" class="thumbnail" alt="">
        </div>      
        <div class="column">
          <img src="http://placehold.it/150x150" class="thumbnail" alt="">
        </div> 
        <div class="column">
          <img src="http://placehold.it/150x150" class="thumbnail" alt="">
        </div>
        <div class="column">
          <img src="http://placehold.it/150x150" class="thumbnail" alt="">
        </div>
        <div class="column">
          <img src="http://placehold.it/150x150" class="thumbnail" alt="">
        </div> 
        <div class="column">
          <img src="http://placehold.it/150x150" class="thumbnail" alt="">
        </div>      
        <div class="column">
          <img src="http://placehold.it/150x150" class="thumbnail" alt="">
        </div> 
        <div class="column">
          <img src="http://placehold.it/150x150" class="thumbnail" alt="">
        </div>   
        <div class="column">
          <img src="http://placehold.it/150x150" class="thumbnail" alt="">
        </div> 
        <div class="column">
          <img src="http://placehold.it/150x150" class="thumbnail" alt="">
        </div>  
      </div>
    </div>
  </div>
}   