@templates.main("Scrapbook Home", "searchOn") {

  @if(!Application.isLoggedIn()) {
  <div class="row welcome-section">
    <!--<div class="large-8 large-centered columns">
      <img src="@{routes.Assets.versioned("images/website/motto-white.png")}" id="motto" alt="">
       h3>Welcome to Scrapbook</h3>
       <p>An online art community that embraces amateur artists and hobbiests around the globe. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, asperiores, voluptas, veniam commodi impedit tenetur dolores cumque facere explicabo esse quaerat veritatis laboriosam eius modi amet maxime non officia nemo!</p>
    </div>-->
    <div class="row top-space">
      <div class="large-10 columns">
        <img src="@{routes.Assets.versioned("images/website/motto-white.png")}" id="motto" alt="">
      </div>
      <div class="large-2 columns">
        <button class="secondary button">Join now</button>
      </div>
    </div>
  </div>
  }
  <div class="row top-space">
    <div class="small-11 small-centered columns">
      <h4>Featured Posts</h4>
      <div class="row small-up-2 medium-up-3 large-up-4 top-space">

        <!--Dynamic Thumbnail-->
          @for(p <- Post.findAll()){
          <div class="column">
            <div class="post-thumb-image">
              <a href="@routes.Posts.viewPost(p.id)"><img src="@{routes.Assets.versioned(p.imageFile)}" class="thumbnail" alt=""></a>
            </div>
            <div class="post-thumb-info">
              <p>"@p.title"</p>
              <b>by <a href="@routes.Profile.index(p.author.username)">@p.author.username</a></b>
              <p></p>
              <p>
              @if(!p.tags.isEmpty()) {
              @for(t <- p.tags.split(",")) {
              #<a class="tags" href="@routes.Posts.viewPost(p.id)">@t &nbsp;</a>
              }
              }
              </p>
            </div>
          </div>
          }

      </div>
    </div>
  </div>
}   