@import views.html.templates._

@templates.main("Scrapbook Home", "searchOn") {

  @if(!Application.isLoggedIn()) {
  <div class="row welcome-section">
    <div class="row top-space">
      <div class="small-7 small-offset-1 medium-6 medium-offset-2 large-6 large-offset-2 columns text-center">
        <img src="@{routes.Assets.versioned("images/website/motto-white.png")}" id="motto" alt="">
        
      </div>
      <div class="small-3 medium-2 medium-offset-1 large-2 large-offset-1 columns">
        <button class="button btn-white"><a href="@routes.Application.signup">Join now</a></button>
      </div>
      <div class="small-1 medium-1 large-1 columns"></div>
    </div>
  </div>
  }
  <div class="row top-space">
    <div class="small-12 large-11 large-centered columns">
      <div class="row">
        <div class="small-6 columns">
          <h4>Latest Posts</h4>
        </div>
        <div class="small-6 columns text-right">
        @if(Application.isLoggedIn()) {
        <a href="@routes.Posts.newPost()"><button class="primary button"><i class="fi-plus"></i>&nbsp;&nbsp;New post</button></a>
        }
        </div>
      </div>
      <div class="row small-up-2 medium-up-3 large-up-4 top-space">

        <!--Dynamic Thumbnail-->
          @for(p <- Post.findRecent(8)){
          @postThumbnail(p)
          }

      </div>
    </div>
  </div>
}   