@(errorMessage: String)
@templates.main("Login to Scrapbook", "searchOff") {

@helper.form(routes.Application.submitLogin()) {
	<div class="row top-space">
		<div class="small-8 small-centered large-5 large-centered columns">
			<h4>Login to Scrapbook</h4>
			<input type="text" name="username" placeholder="Username">
			<input type="password" name="password" placeholder="Password">
			
			<div class="column row">
				<p>@errorMessage</p>
			</div>
			<div class="row">
				<div class="small-4 small-offset-8 columns">
					<button type="submit" value="Submit" class="button">Login</button>
				</div>
			</div>
		</div>
	</div>
}

}