@import views.html.templates.artCategMenu
@(message: String, postForm: Form[models.Post])
@templates.main("New post", "searchOff") {
@helper.form(routes.Posts.uploadPost(), 'enctype -> "multipart/form-data") {

	<div class="row top-space new-post-form">
		<div class="small-12 small-centered large-9 large-centered columns">
			<h4>New post</h4>
			<input type="text" @if(postForm("title").hasErrors) {class="is-invalid-input" aria-describedby="titleHelpText"} name="title" placeholder="Post Title" value="@postForm("title").value">
			@if(postForm("title").hasErrors) {
			<p class="help-text" id="titleHelpText"><span class="error-text">@{postForm("title").error.map {error => error.message}}</span></p>
			}

			<input type="text" name="subtitle" placeholder="Post Subtitle" value="@postForm("subtitle").value">

			<div class="row">
				<div class="small-3 small-centered columns">
					<!--<label for="imageUpload" class="button expanded">Upload Image</label>
					<input type="file" name="imageFile" id="imageUpload" class="show-for-sr">-->
					<input type="file" @if(postForm("imageFile").hasErrors) {class="is-invalid-input" aria-describedby="imageFileHelpText"} name="image" accept="image/*">
					@if(postForm("imageFile").hasErrors) {
					<p class="help-text" id="imageFileHelpText"><span class="error-text">@{postForm("imageFile").error.map {error => error.message}}</span></p>
					}
				</div>
			</div>

            <textarea name="description" rows="6" placeholder="Description">@postForm("description").value</textarea>
			<input type="text" name="tags" placeholder="Tags" value="@postForm("tags").value">

			<div class="row columns top-space">
				<fieldset id="postTypeRadio">
					<legend>Special Post Type</legend>
					<input type="radio" class="radioType" name="postType" value="demo" id="radioTypeDemo" @if(postForm("postType").value.equals("demo")){ checked }><label for="radioTypeDemo">Artwork demo</label>
					<input type="radio" class="radioType" name="postType" value="progress" id="radioTypeProgress" @if(postForm("postType").value.equals("progress")){ checked }><label for="radioTypeProgress">Work under progress</label>
					<input type="radio" class="radioType" name="postType" value="sketch" id="radioTypeSketch" @if(postForm("postType").value.equals("sketch")){ checked }><label for="radioTypeSketch">Sketch</label>
					<input type="radio" class="radioType" name="postType" value="none" id="radioTypeNone" @if(postForm("postType").value.equals("none")){ checked }><label for="radioTypeNone">No special type</label>
				</fieldset>
			</div>

			<div class="row columns top-space">
				<legend>Category</legend>
				<select name="category">
					<option value="drawing">Drawing</option>
					<option value="sketches">Sketches</option>
					<option value="painting">Painting</option>
					<option value="calligraphy">Calligraphy</option>
					<option value="graphicDesign">Graphic design</option>
					<option value="crafts">Crafts</option>
				</select>
			</div>

			<div class="row columns" id="divTypeDemo">
			</div>

			<div class="row columns" id="divTypeProgress">
			</div>

			<div class="row columns" id="divTypeSketch">
			</div>

			<div class="row columns top-space">
				<fieldset>
					<input name="feedbackEnabled" id="fdbkCheck" type="checkbox" @if(postForm("feedbackEnabled").value.equals("on")) { checked="checked" }><label for="fdbkCheck">Enable feedback</label>
				</fieldset>
			</div>
            
			<p>@message</p>

			<div class="row">
				<div class="small-3 small-offset-9 columns">
					<button type="submit" value="Submit" class="button expanded">Create post</button>
				</div>
			</div>
		</div>
	</div>
}
}