@import views.html.templates.artCategMenu
@(message: String, postForm: Form[models.Post])
@templates.main("New post", "searchOff") {
@helper.form(routes.Posts.uploadPost(), 'enctype -> "multipart/form-data") {

	<div class="row top-space new-post-form">
		<div class="small-12 small-centered large-9 large-centered columns">
			<h4>New post</h4>
			<input type="text" @if(postForm("title").hasErrors) {class="is-invalid-input" aria-describedby="titleHelpText"} name="title" placeholder="Post Title" value="@postForm("title").value">
			@if(postForm("title").hasErrors) {
			<p class="help-text" id="titleHelpText"><span class="error-text">@{postForm("title").error.map {error => error.message}}</span></p>
			}

			<input type="text" name="subtitle" placeholder="Post Subtitle" value="@postForm("subtitle").value">

			<div class="row">
				<div class="small-3 columns">
					<input type="file" id="imageUpload" onchange="displayImage(this);" class="show-for-sr" @if(postForm("imageFile").hasErrors) {class="is-invalid-input" aria-describedby="imageFileHelpText"} name="image" accept="image/*">
					<br><label for="imageUpload" class="button expanded">Choose Image</label><br>
					@if(postForm("imageFile").hasErrors) {
					<p class="help-text" id="imageFileHelpText"><span class="error-text">@{postForm("imageFile").error.map {error => error.message}}</span></p>
					}
				</div>
				<div class="small-9 columns">
					<img src="" id="target-image" alt="">
				</div>
			</div>
			<br>
            <textarea name="description" rows="6" placeholder="Description">@postForm("description").value</textarea>
			<input type="text" name="tags" id="tags" placeholder="Tags" value="@postForm("tags").value">

			<div class="row columns top-space">
				<legend>Category</legend>
				<select name="category">
					<option value="drawing">Drawing</option>
					<option value="sketches">Sketches</option>
					<option value="painting">Painting</option>
					<option value="calligraphy">Calligraphy</option>
					<option value="graphicDesign">Graphic design</option>
					<option value="crafts">Crafts</option>
				</select>
			</div>

			<div class="row columns" id="divTypeDemo">
			</div>

			<div class="row columns" id="divTypeProgress">
			</div>

			<div class="row columns" id="divTypeSketch">
			</div>

			<div class="row columns top-space">
				<fieldset>
					<input name="feedbackEnabled" id="fdbkCheck" type="checkbox" @if(postForm("feedbackEnabled").value.equals("on")) { checked="checked" }><label for="fdbkCheck">Enable feedback</label>
				</fieldset>
			</div>
            
			<p class="error-text">@message</p>

			<div class="row">
				<div class="small-3 small-offset-9 columns">
					<button type="submit" value="Submit" class="button expanded">Create post</button>
				</div>
			</div>
		</div>
	</div>
}
}