@(currentPage: com.avaje.ebean.PagedList[Post], query: String)
@templates.main("Scrapbook - Browse", "searchOff") {
    <div class="row top-space">
      <div class="large-8 columns">
        @if(currentPage.getTotalRowCount() == 0) {
        <p>No artworks matching "@query"</p>
        }
        
      </div>
      <div class="large-4 columns">
      <ul class="menu">
        <li>
        @helper.form(routes.Browse.searchPosts()) {
        <input type="text" name="query" value=@query>
        }
        </li>
        <li><button type="button" class="button"><i class="fi-magnifying-glass"></i></button></li>
      </ul>
      </div>
    </div>
    
    @if(currentPage.getTotalRowCount() > 0) {
    <!-- Post Thumbnails -->
    <div class="row">
      <div class="large-11 large centered columns">
        <div class="row top-space">
        </div>
        <div class="row small-up-2 medium-up-3 large-up-4 top-space">

          <!--Dynamic Thumbnail-->
          @for(p <- currentPage.getList){
          <div class="column">
            <div class="post-thumb-image">
              <a href="@routes.Posts.viewPost(p.id)"><img src="@{routes.Assets.versioned(p.imageFile)}" class="thumbnail" alt=""></a>
            </div>
            <div class="post-thumb-info">
              <p>@p.title</p>
              <p>by <a href="@routes.Profile.index(p.author.username)">@p.author.username</a></p>
              <p>
              @if(!p.tags.isEmpty()) {
              @for(t <- p.tags.split(",")) {
              #<a href="@routes.Posts.viewPost(p.id)">@t &nbsp;
              }
              }
              </p>
            </div>
          </div>
          }
        
        </div>
      </div>
    </div>

    <!-- Pagination -->
    <div class="row">
      <div class="small-12 columns">
        <ul class="pagination text-center" role="navigation" aria-label="Pagination">
          @if(currentPage.hasPrev){
          <li class="pagination-previous"><a href="@routes.Browse.getSearchResultPage(currentPage.getPageIndex - 1, query)" aria-label="Previous page">Previous</a></li>
          } else {
          <li class="pagination-previous disabled">Previous</li>
          }
          <li class="current"><span class="show-for-sr">You're on page</span>Displaying @currentPage.getDisplayXtoYofZ(" - "," of ") posts</li>
          @if(currentPage.hasNext){
          <li class="pagination-next"><a href="@routes.Browse.getSearchResultPage(currentPage.getPageIndex + 1, query)" aria-label="Next page">Next</a></li>
          } else {
          <li class="pagination-next disabled">Next</li>
          } 
        </ul>
      </div>
    </div>
  }
}