@(member: Member)
@templates.main("Profile", "searchOn") {
  <div class="row top-space">
    <div class="small-12 large-3 columns text-center profile">

      @if(Application.memberLoggedIn(member)) {
      <div class="row align-right">
        <div class="small-3 columns small-offset-9">
          <a href="@routes.Profile.editProfile()"><button class="secondary button edit-btn">✎</button></a>
        </div>
      </div>
      }

      <img src="@member.profilePic" class="thumbnail text-center profile-image" alt="">
      <h5 class="name">@member.firstname @member.lastname</h5>
      <h6 class="username">&#64;@member.username</h6>
      <span class="label level">@member.level</span>
      <br>
      <br>
      @if(!member.location.isEmpty()){
      <h6>Based in @member.location</h6>
      }

      
      @if(Application.memberLoggedIn(member)) {
      <hr>
      <h5>Skills</h5>
      <p>@if(!member.skills.isEmpty()){@member.skills
      } else {
      <a href="/profile/edit#skills">✎ <i>List your skills or interests</i></a>
      }
      </p>
      <hr>
      <h5>Bio</h5>
      <p>@if(!member.bio.isEmpty()){@member.bio
      } else {
      <a href="/profile/edit#bio">✎ <i>Add bio</i></a>
      }
      </p>
      } else {
      @if(!member.skills.isEmpty()){
      <hr>
      <h5>Skills</h5>
      <p>@member.skills</p>
      }
      @if(!member.bio.isEmpty()){
      <hr>
      <h5>Bio</h5>
      <p>@member.bio</p>
      }
      }
    </div>

    <div class="small-12 large-9 columns">
      
      <!--<div class="small-11 large-centered columns">-->
        <div class="row">
          <div class="small-8 columns">
            <h5>Recent Posts</h5>
          </div>
          <div class="small-4 large-3 large-offset-1 columns">
            @if(Application.memberLoggedIn(member)) {
            <a href="@routes.Posts.newPost()"><button class="primary button expanded"><i class="fi-plus"></i>&nbsp;&nbsp;New post</button></a>
            }
          </div>
        </div>

        @if(!Post.memberHasPosts(member)){
        <p class="minor-text">@member.username hasn't posted anything yet.</p>
        } else {
        <div class="row top-space">
          <div class="small-12 large-6 columns">
            <!-- most recent large image -->
              @defining(Post.findRecentByAuthor(member.username, 0)) { post =>
              @if(post != null){
              <a href="@routes.Posts.viewPost(post.id)"><img src="@post.getImageUrl()" class="thumbnail" alt=""></a>
              }
              }
          </div>
          <div class="small-12 large-4 large-offset-1 columns">
            <div class="row small-up-1">
              <div class="column column-block">
                @defining(Post.findRecentByAuthor(member.username, 1)) { post =>
                @if(post != null){
                <a href="@routes.Posts.viewPost(post.id)"><img src="@post.getImageUrl()" class="thumbnail" alt=""></a>
                }
                }
              </div>
              <div class="column column-block">
                @defining(Post.findRecentByAuthor(member.username, 2)) { post =>
                @if(post != null){
                <a href="@routes.Posts.viewPost(post.id)"><img src="@post.getImageUrl()" class="thumbnail" alt=""></a>
                }
                }
              </div>
            </div>
          </div>
        </div>
        <div class="large-1 columns"></div>

        @if(Post.memberPostCount(member) > 9){
        <div class="row">
          <div class="small-4 small-offset-8 large-3 large-offset-9 columns">
          <br>
          <a href="@routes.Profile.viewPosts(member.username)"><button class="secondary button expanded">Show all posts</button></a>
          </div>
        </div>
        }
        }
     <!--</div>-->
    </div>


  </div>
}