@(member: Member)
@templates.main("Profile", "searchOn") {
  <div class="row top-space">
    <div class="small-3 columns text-center profile">

      @if(Application.memberLoggedIn(member)) {
      <div class="row align-right">
        <div class="small-3 columns small-offset-9">
          <a href="@routes.Profile.editProfile()"><button class="primary button edit-btn">✎</button></a>
        </div>
      </div>
      }

      <img src="@{routes.Assets.versioned(member.profilePic)}" class="thumbnail text-center profile-image" alt="">
      <h5 class="name">@member.firstname @member.lastname</h5>
      <h6 class="username">@member.username</h6>
      <span class="label level">@member.level</span>
      <br>
      <br>
      <h6>Based in @member.location</h6>

      <div class="button-group top-space">
        <button class="button">Follow</button>
        <button class="secondary button">Send Message</button>
      </div>
      
      @if(Application.memberLoggedIn(member)) {
      <hr>
      <h5>Skills</h5>
      <p>@if(!member.skills.isEmpty()){@member.skills
      } else {
      <a href="/profile/edit#skills">✎ <i>List your skills or interests</i></a>
      }
      </p>
      <hr>
      <h5>Bio</h5>
      <p>@if(!member.bio.isEmpty()){@member.bio
      } else {
      <a href="/profile/edit#bio">✎ <i>Add bio</i></a>
      }
      </p>
      } else {
      @if(!member.skills.isEmpty()){
      <hr>
      <h5>Skills</h5>
      <p>@member.skills</p>
      }
      @if(!member.bio.isEmpty()){
      <hr>
      <h5>Bio</h5>
      <p>@member.bio</p>
      }
      }

    </div>
    <div class="small-9 columns">
      

      <div class="small-11 large-centered columns">
        <h5>Recent Posts:</h5>

        <div class="row">
          <div class="small-6 columns">
            <!-- large image here of size 2n x 2n -->
              @defining(Post.findRecentByAuthor(member.username, 0)) { post =>
              @if(post != null){
              <a href="@routes.Posts.viewPost(post.id)"><img src="@{routes.Assets.versioned(post.imageFile)}" class="thumbnail" alt=""></a>
              }
              }
          </div>
          <div class="small-6 columns">
            <!-- right side grid of - 4 images of size n x n -->
            <div class="row small-up-2">
              <div class="column column-block">
                @defining(Post.findRecentByAuthor(member.username, 1)) { post =>
                @if(post != null){
                <a href="@routes.Posts.viewPost(post.id)"><img src="@{routes.Assets.versioned(post.imageFile)}" class="thumbnail" alt=""></a>
                }
                }
              </div>
              <div class="column column-block">
                @defining(Post.findRecentByAuthor(member.username, 2)) { post =>
                @if(post != null){
                <a href="@routes.Posts.viewPost(post.id)"><img src="@{routes.Assets.versioned(post.imageFile)}" class="thumbnail" alt=""></a>
                }
                }
              </div>
              <div class="column column-block">
                @defining(Post.findRecentByAuthor(member.username, 3)) { post =>
                @if(post != null){
                <a href="@routes.Posts.viewPost(post.id)"><img src="@{routes.Assets.versioned(post.imageFile)}" class="thumbnail" alt=""></a>
                }
                }
              </div>
              <div class="column column-block">
                @defining(Post.findRecentByAuthor(member.username, 4)) { post =>
                @if(post != null){
                <a href="@routes.Posts.viewPost(post.id)"><img src="@{routes.Assets.versioned(post.imageFile)}" class="thumbnail" alt=""></a>
                }
                }
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <!-- bottom grid of 4 images in a row of size n/2 x n/2 -->
          <div class="small-3 columns">
              @defining(Post.findRecentByAuthor(member.username, 5)) { post =>
              @if(post != null){
              <a href="@routes.Posts.viewPost(post.id)"><img src="@{routes.Assets.versioned(post.imageFile)}" class="thumbnail" alt=""></a>
              }
              }
          </div>
          <div class="small-3 columns">
              @defining(Post.findRecentByAuthor(member.username, 6)) { post =>
              @if(post != null){
              <a href="@routes.Posts.viewPost(post.id)"><img src="@{routes.Assets.versioned(post.imageFile)}" class="thumbnail" alt=""></a>
              }
              }
          </div>
          <div class="small-3 columns">
              @defining(Post.findRecentByAuthor(member.username, 7)) { post =>
              @if(post != null){
              <a href="@routes.Posts.viewPost(post.id)"><img src="@{routes.Assets.versioned(post.imageFile)}" class="thumbnail" alt=""></a>
              }
              }
          </div>
          <div class="small-3 columns">
              @defining(Post.findRecentByAuthor(member.username, 8)) { post =>
              @if(post != null){
              <a href="@routes.Posts.viewPost(post.id)"><img src="@{routes.Assets.versioned(post.imageFile)}" class="thumbnail" alt=""></a>
              }
              }
          </div>
        </div>

        <div class="column row text-center">
          <a href="@routes.Profile.viewPosts(member.username)"><button class="primary button">Show all posts</button></a>
        </div>

        <hr>

        <h5>@member.username's Projects:</h5>
        <div class="row collection top-space">
          <h5>Botanical Art</h5>
          <h6>collaborative project with <b>ideallipe</b></h6>
          <hr>
          <div class="row small-up-1 medium-up-2 large-up-4">
            <div class="column">
              <img src="http://placehold.it/100x100" class="thumbnail" alt="">
            </div>
            <div class="column">
              <img src="http://placehold.it/100x100" class="thumbnail" alt="">
            </div> 
            <div class="column">
              <img src="http://placehold.it/100x100" class="thumbnail" alt="">
            </div>
          </div>
        </div>
        <hr>
        <h5>@member.username's Collections:</h5>
        <div class="row collection top-space">
          <h5>Botanical Art</h5>
          <hr>
          <div class="row small-up-1 medium-up-2 large-up-4">
            <div class="column">
              <img src="http://placehold.it/100x100" class="thumbnail" alt="">
            </div>
            <div class="column">
              <img src="http://placehold.it/100x100" class="thumbnail" alt="">
            </div> 
            <div class="column">
              <img src="http://placehold.it/100x100" class="thumbnail" alt="">
            </div>
          </div>
        </div>

        <div class="row collection top-space">
          <h5>Mountains and valleys photoshoot</h5>
          <hr>
          <div class="row small-up-1 medium-up-2 large-up-4">
            <div class="column">
              <img src="http://placehold.it/100x100" class="thumbnail" alt="">
            </div>
            <div class="column">
              <img src="http://placehold.it/100x100" class="thumbnail" alt="">
            </div> 
            <div class="column">
              <img src="http://placehold.it/100x100" class="thumbnail" alt="">
            </div>
          </div>
        </div>
        <hr>
        

        </div>
      </div>
    </div>
  </div>
}