@(member: Member)
@templates.main("Profile") {
  <div class="row top-space">
    <div class="large-3 columns text-center profile">
      <img src="@{routes.Assets.versioned("images/profile-pics/sample.jpg")}" class="thumbnail text-center profile-image" alt="">
      <h5 class="name">@member.firstname @member.lastname</h5>
      <h6 class="username">@member.username</h6>
      <span class="label level">@member.level</span>
      <br>
      <h6>Based in @member.region</h6>

      <div class="button-group top-space">
        <button class="button">Follow</button>
        <button class="secondary button">Send Message</button>
      </div>
      
      <hr>
      <h5>Fortes:</h5>
      <p>@member.skills</p>
      <hr>
      <h5>Bio:</h5>
      <p>@member.bio</p>
    </div>
    <div class="large-9 columns">
      

      <div class="large-11 large-centered columns">
        <h5>Recent Posts:</h5>
        <div class="row small-up-1 medium-up-2 large-up-4 top-space">
          <div class="column">
            <img src="http://placehold.it/200x200" class="thumbnail" alt="">
          </div>
          <div class="column">
            <img src="http://placehold.it/200x200" class="thumbnail" alt="">
          </div> 
          <div class="column">
            <img src="http://placehold.it/200x200" class="thumbnail" alt="">
          </div>
          <div class="column">
            <img src="http://placehold.it/200x200" class="thumbnail" alt="">
          </div>
          <div class="column">
            <img src="http://placehold.it/200x200" class="thumbnail" alt="">
          </div> 
          <div class="column">
            <img src="http://placehold.it/200x200" class="thumbnail" alt="">
          </div>    
        </div>
        <hr>
        <h5>@member.username's Collections:</h5>
        <div class="row collection top-space">
          <h5>Botanical Art</h5>
          <hr>
          <div class="row small-up-1 medium-up-2 large-up-4">
            <div class="column">
              <img src="http://placehold.it/100x100" class="thumbnail" alt="">
            </div>
            <div class="column">
              <img src="http://placehold.it/100x100" class="thumbnail" alt="">
            </div> 
            <div class="column">
              <img src="http://placehold.it/100x100" class="thumbnail" alt="">
            </div>
          </div>
        </div>

        <div class="row collection top-space">
          <h5>Mountains and valleys photoshoot</h5>
          <hr>
          <div class="row small-up-1 medium-up-2 large-up-4">
            <div class="column">
              <img src="http://placehold.it/100x100" class="thumbnail" alt="">
            </div>
            <div class="column">
              <img src="http://placehold.it/100x100" class="thumbnail" alt="">
            </div> 
            <div class="column">
              <img src="http://placehold.it/100x100" class="thumbnail" alt="">
            </div>
          </div>
        </div>
        <hr>
        <h5>@member.username's Projects:</h5>
        <div class="row collection top-space">
          <h5>Botanical Art</h5>
          <hr>
          <div class="row small-up-1 medium-up-2 large-up-4">
            <div class="column">
              <img src="http://placehold.it/100x100" class="thumbnail" alt="">
            </div>
            <div class="column">
              <img src="http://placehold.it/100x100" class="thumbnail" alt="">
            </div> 
            <div class="column">
              <img src="http://placehold.it/100x100" class="thumbnail" alt="">
            </div>
          </div>
        </div>

        </div>
      </div>
    </div>
  </div>
}