@(post: Post)
@templates.main("View Post", "searchOn"){
	<div class="row top-space">
		<div class="small-12 large-10 columns">
            
            <!--Post heading: author, date and type-->
			<div class="row top-space">
				<div class="small-2 small-offset-2 columns">
					<img src="@{routes.Assets.versioned("images/profile-pics/sample.jpg")}" class="thumbnail post-user-pic" alt="">
				</div>
				<div class="small-5 columns">
					<h5>@post.author.username</h5>
					<p>Posted @post.getDatePosted()</p>
					<span class="label level">@post.postType</span>
				</div>
                <div class="small-3 columns">
                    @if(Application.memberLoggedIn(post.author)) {
                    <a href="@routes.Posts.editPost(post.id)"><button class="secondary button edit-btn">✎</button></a>
                    }
                </div>
			</div>
            
            
            <div class="row top-space">

                <!--Post body: image, description and tags-->
                <div class="small-7 small-offset-2 columns">
                    <h5>"@post.title"</h5>
                    <h6>@post.subtitle</h6>
                    <img src="@{routes.Assets.versioned(post.imageFile)}" class="post-image thumbnail" alt="">
                    <p class="post-desc">@post.description</p>
                    <p>Tagged: @post.tags</p>
                </div>

                <!-- Side panel -->
                <div class="small-3 columns">
                    @if(post.postType.equals("progress")){
                    <h5>Progress Panel</h5>
                    }

                    @if(post.postType.equals("demo")){
                    <h5>Artwork Details</h5>
                    }
                </div>

            </div>
            
            <!--Feedback-->
            @if(post.feedbackEnabled == true){
            <div class="row top-space feedback-panel" id="feedback">
                <div class="small-9 small-offset-2 columns">
                    <h5>Feedback Panel</h5>

                    <!--Dynamic Feedback boxes-->
                    @for(f <- Feedback.findFor(post.id)){
                    <div class="row comment-box" id="@f.id">
                        <div class="small-2 columns">
                            <img src="@{routes.Assets.versioned("images/profile-pics/sample.jpg")}" class="thumbnail" alt="">
                        </div>
                        <div class="small-10 columns comment-body">
                            <h6>@f.author.username</h6>
                            <p>@f.fdbkBody</p>
                            <p>@f.imageAttached</p>
                            @if(f.imageAttached) {
                                <img src="@{routes.Assets.versioned(f.imageFile)}" class="thumbnail" alt="">
                            }

                            <div class="row">
                                <div class="small-9 columns comment-footer">
                                    <p>@f.getDateTimeSent()</p>
                                </div>
                                @if(Posts.canDeleteFeedback(f.id)){
                                <div class="small-2 small-offset-1 columns">
                                    @helper.form(routes.Posts.deleteFeedback(f.id)) {
                                    <button type="submit" value="Submit" class="button alert del-btn"><i class="fi-trash"></i></button>
                                    }
                                </div>
                                }
                            </div>
                        </div>
                    </div>
                    }

                    <!--New feedback form-->
                    @helper.form(routes.Posts.sendFeedback(post.id), 'enctype -> "multipart/form-data") {
                    <div class="row">
                        <textarea name="fdbkBody" rows="4" placeholder="Share your feedback"></textarea>
                    </div>
                    <div class="row">
                        <div class="small-10 columns">
                            <input type="file" name="image">
                        </div>
                        <div class="small-2 columns">
                            <button type="submit" value="Submit" class="button">Send</button>
                        </div>
                    </div>
                    }

                </div>
                <div class="small-1 columns"></div>
            </div>
            }

            <!--Comments-->
            <div class="row top-space" id="comments">
                <div class="small-7 small-offset-2 columns">
                    <h5>Comments</h5>
                    
                    <!--New comment form-->
                    @helper.form(routes.Posts.sendComment(post.id)) {
                    <div class="row">
                        <div class="small-10 columns">
                            <textarea name="cmntBody" rows="2" placeholder="Share a thought"></textarea>
                        </div>
                        <div class="small-2 columns">
                            <button type="submit" value="Submit" class="button">Send</button>
                        </div>
                    </div>
                    }

                    <!--Comment box-->
                    @for(c <- Comment.findFor(post.id)){
                    <div class="row comment-box" id="@c.id">
                        <div class="small-2 columns">
                            <img src="@{routes.Assets.versioned("images/profile-pics/sample.jpg")}" class="thumbnail" alt="">
                        </div>
                        <div class="small-10 columns comment-body">
                            <h6>@c.author.username</h6>
                            <p>@c.cmntBody</p>
                            <div class="row">
                                <div class="small-9 columns comment-footer">
                                    <p>@c.getDateTimeSent()</p>
                                </div>
                                @if(Posts.canDeleteComment(c.id)){
                                <div class="small-2 small-offset-1 columns">
                                    @helper.form(routes.Posts.deleteComment(c.id)) {
                                    <button type="submit" value="Submit" class="button alert del-btn"><i class="fi-trash"></i></button>
                                    }
                                </div>
                                }
                            </div>
                        </div>
                    </div>
                    }
                    
                </div>
                <div class="small-3 columns"></div>
            </div>
            
		</div>
	</div>
}